{% extends 'base.html' %}

{% block title %} 
REPORTS
{% endblock title %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <br>

                <h4>REPORTS</h4>
                <a href="/r_create" class="btn btn-primary btn-sm" style="float: right;">+ADD REPORT</a>
            </div>
            <div class="card-body">

                {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
            
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                  {{message}}
            
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            
                {% endfor %}
                {% endif %}
                {% endwith %}

                <table id="myTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Report Name</th>
                            <th scope="col">Download</th>
                            <th scope="col">Uploaded Time</th>
                            <th scope="col">Uploaded Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for report in reports %}
                        <tr>
                            <th scope="row">{{ report.title }}</th>
                            <th scope="row">{{ report.filename.decode('utf-8') }}</th>
                            <td><a href="{{ url_for('get_report', filename=report.filename.decode('utf-8')) }}">Download</a></td>
                            <td>{{ report.uploaded_time }}</td>
                            <td>{{ report.uploaded_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock body %}